.hoverPoint {
    z-index: 101;

    position: absolute;
    left: 20.5%;
    top: 48%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;
    border-radius: 25px;

    transition: .2s;

    outline: solid antiquewhite 5px;

    cursor: pointer;
}

.hoverPoint:hover {
    background-color: antiquewhite;
}
