.mainContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.transformableByX {
    position: relative;

    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    transition: transform .5s;
}

.blurRightSide {
    position: absolute;
    right: 0;
    transform: translateX(50%);

    /*background-color: red;*/
    backdrop-filter: blur(5px);

    height: 100%;
    width: 8px;

    z-index: 10000;
}

.sceneContainer {
    grid-row: 1;
    grid-column: 1;
}
