.mainContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.moveable {
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    transition: transform .5s;
}

.sceneContainer {
    grid-row: 1;
    grid-column: 1;
}
